@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-color: rgb(38 38 38 / var(--tw-bg-opacity));
  }

  body {
    @apply bg-neutral-800;
    @apply select-none;
  }
  h1 {
    @apply mb-3;
  }
  h2 {
    @apply mb-3;
  }

  .dropdown-toggle::after {
    content: "";
    @apply ml-2;
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    border-top: 0.4em solid white;
    transition: transform 0.2s linear;
    transform: none;
  }

  .dropdown-menu::-webkit-scrollbar {
    width: 8px;
  }
  .dropdown-menu::-webkit-scrollbar-thumb {
    border-radius: 10px;
    @apply bg-neutral-500;
  }

  .button-with-icon > svg {
    width: 1.3em;
    height: 1.3em;
  }
}
